/*****************************
 * main-zone-layout with content in center
 */
 
#main-zone {
  overflow: hidden;
}

#main-zone .main {
  float: left;
}

#main-content {
  width: 560px;
  margin-left: 400px;
  margin-right: -960px;
  padding: 0;
}

#main-block-1 {
  width: 200px;
  margin-left: 0;
  margin-right: -200px;
  padding: 0;
}

#main-block-2 {
  width: 200px;
  margin-left: 200px;
  margin-right: -400px;
  padding: 0;
}

