/* 
    Document   : system
    Created on : 20.11.2010, 13:59:00
    Author     : Siegfried Dünkel <chaosprinz76@googlemail.com>
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/



